h1 {
	color: black;
	font-family: Cursive;
	text-align: center;
	background-color:tan;
	font-size: 5em;
	text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 20px white;
	  }
h9{
	font-size: 2.4em;
}
h2 {
	color: rgba(165, 42, 42, 0.858);
	font-family: roboto;
	text-align: center;
	font-size: 100px;
}
body{
	background-color: bisque ;
}
footer{
	text-align: center;
	font-size: 2.4em;
}
h3{
	text-align: center;
}
h4{
	font-size: 1.9em;
}
.cadre {
    border: 2px solid #000;
    padding: 10px;
    background-color: tan;
}
h5{
	color: black;
	font-family: roboto;
    font-size: 1.9em;
	text-align: center;
}
h6{
	font-size: 1.7em; ;
	color: black;
}
div{
	padding-left: 50px;
}
h7{
	font-size: 25px;
}
box{
	display: block;
}
td {
	text-align: center;
  }
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  	}
 tr{
	list-style: none;
	} 
li  {
	float: left;
  	}
  li a {
	display: block;
	color: peru;
	text-align: center;
	padding: 14px 16px;
  }
  li a:hover {
	background-color:rgba(255, 166, 0, 0.688);
	transform: translate(5px, 10px);
  }
  button {
	background-color: rgb(214, 145, 16); 
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	transition-duration: 0.4s;
	border-radius:16px;
	cursor: pointer;
	box-shadow: 0 9px rgb(214, 145, 16);
  }
  button:hover {
	background-color: wheat; 
	color: black;
	box-shadow: 0 9px wheat;
  }
  img:hover {
	transform: scaleX(-1);
  }
  a {
	text-decoration: none;
  }  
h9{
	font-size: 40px;
}